# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDE - Eclipse
.classpath
.project
.settings/
*.jdt.core.prefs

# IDE - IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/

# IDE - Visual Studio Code
.vscode/
*.code-workspace

# IDE - Netbeans
nbproject/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Miscellaneous
.DS_Store
Thumbs.db
*.log
*.swp
*.swo
*~
.classpath
.c9/
*.jar
!.mvn/wrapper/maven-wrapper.jar
.sts4-cache/
